body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Principal-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --Principal-bg: #DEB7CC;
  --Secundario-fonts: #F6E6C2;
  --Tercero: #924857;
  --font: 'Oswald';
}